.header_nav_box {
	z-index: 10;
}

.nav_contents {
	display: flex;
	padding: 10px 6px;
	width: 100%;
}
.nav_contents:hover {
	background-color: skyblue;
	font-weight: bold;
	cursor: pointer;
}

.nav_list {
	font-size: 16px;
	margin-right: 5px;
}

.nav_br {
	display: none;
}
