.nav_contents {
	display: flex;
	padding: 10px 6px;
}
.nav_contents:hover {
	background-color: skyblue;
	font-weight: bold;
}

.nav_list {
	font-size: 16px;
	margin-right: 5px;
}

.nav_br {
	display: none;
}
