.user_blog_box {
	width: 100%;
} 
.user_blog_box01 {
	display: none;
}
.user_blog_header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.user_blog_content {
	margin: 7px 0;
	padding: 7px 12px 7px 12px;
	cursor: pointer;
}

.user_blog_content:hover {
	background-color: lightblue;
}

.nav_blog_contents {
	display: flex;
	padding: 10px 6px;
	width: 100%;
}
.nav_blog_contents .add_blog_btn:hover {
	cursor: pointer;
}