.popup_background .create_popup .create_icon_box_box {
	display: flex;
}

.popup_background .create_popup .create_icon {
	width: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.popup_background .create_popup .popup_background::before {
	opacity: 0.6;
}

.popup_background .create_popup .icon_image_box {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	margin-bottom: 3px;
}
.popup_background .create_popup .create_icon:hover {
	.icon_image_box {
		animation: vibration 0.7s infinite;
		width: 110px;
		height: 110px;
		font-size: 48px;
	}
	.create_popup .icon_text_box {
		font-size: 24px;
	}
}
@keyframes vibration {
	0% {
		transform: rotate(10deg);
	}
	40% {
		transform: rotate(-10deg);
	}
	80% {
		transform: rotate(0deg);
	}
}

.popup_background .create_popup .icon_text_box {
	text-align: center;
	color: #FFF;
}

.popup_background .create_popup .create_icon_01 {
	background-color: #FFF;
}
.popup_background .create_popup .create_icon_02 {
	background-color: #ED8C37;
}
.popup_background .create_popup .create_icon_03 {
	background-color: #F5A936;
}
.popup_background .create_popup .create_icon_04 {
	background-color: #51A885;
}
.popup_background .create_popup .create_icon_05 {
	background-color: #267A9E;
}
.popup_background .create_popup .create_icon_06 {
	background-color: #986b9b;
}
.popup_background .create_popup .create_icon_07 {
	background-color: #DB7476;
}