.dashboard_page .speed_create_icon_box {
	border-radius: 8px;
	padding: 12px;
	margin-bottom: 14px;
	width: 100%;
}

.dashboard_page .create_icon_box_box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.dashboard_page .create_icon_box_box > div {
	width: calc(100% / 7);
}

.dashboard_page .create_icon_box_box .create_icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.speed_create_icon_box .icon_image_box {
	font-size: 32px;
}

.speed_create_icon_box .create_icon_02 {
	color: #ED8C37;
}
.speed_create_icon_box .create_icon_03 {
	color: #F5A936;
}
.speed_create_icon_box .create_icon_04 {
	color: #51A885;
}
.speed_create_icon_box .create_icon_05 {
	color: #267A9E;
}
.speed_create_icon_box .create_icon_06 {
	color: #986b9b;
}
.speed_create_icon_box .create_icon_07 {
	color: #DB7476;
}