.container_page {
	padding: 16px;
}


.speed_box {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	width: 100%;
	height: 200px;
}

.feed_box {
	width: 100%;
}