.login_modal_box {
	background-color: #4F81F7;
	padding: 32px;
	text-align: center;
	width: 480px;
}

.modal_header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}

.modal_header > .modal_header_box_blank {
	width: 30px;
}
.modal_close_btn_box {
	width: 30px;
	text-align: right;
}
.modal_logo_box {
}

.modal_close_btn_box > button {
	border: none;
	background-color: transparent;
	color: #FFF;
	font-size: 24px;
}


.login_text {
	margin-bottom: 24px;
}

.login_word {
	font-size: 20px;
	margin-bottom: 16px;
}

.login_btn_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
}

.social_login_btn {
	background-color: #FFF;
	margin-bottom: 8px;
	width: 70%;
	padding: 8px;
	border-radius: 12px;
	font-weight: bolder;
}