.feed_box {
	width: 100%;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 12px;
}

.feed_box .feed_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.feed_box .name_box {
	width: 100%;
}

.feed_box .icon_box {
	width: 50px;
	font-size: 18px;
	text-align: center;
}
.feed_box .icon_box > span:hover {
	cursor: pointer;
}

.feed_box .feed_footer {
	width: 100%;
	padding: 10px;
}

.feed_box .tag_list {
	margin-bottom: 24px;
}

.feed_box .feed_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feed_box .feed_like {
	border: 1px solid black;
	border-radius: 35px;
	padding: 7px 20px;
	text-align: center;
	line-height: 100%;
}
.feed_box .feed_like > span {
	font-size: 14px;
}

.feed_box .feed_info_icon {
	font-size: 24px;
	font-weight: 900;
}
